
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgba(47,47,47,0.98);
}

#content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    width: 320px;
    height: 580px;
    margin: 30px;
    background-color: #fafafa;
    padding: 60px 40px;
    box-sizing:  border-box;
}

.box-head{
    height: 80px;
}

.box-body{
    min-height: 200px;
    /* padding-bottom: 19px; */
}

.box-footer{
    margin-top: 89px;
    height:100px;
}

.extra{
    margin-top: 70px;
}

#content1{
    color:#3a3947; 
    background-color: #fafafa;
}
#logo1{
    font-size: 50px;
}
#content1 h1{
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
}
.button{
    height: 50px;
    width: 225px;
    border-radius:  50px;
    font-size: 17px;
    padding-top:  5px;
    padding-bottom:  5px;
    font-family: 'Roboto', serif;
    font-weight: 600;
    outline:  none;
    cursor:pointer;
    border:none;
    color: #fafafa;
    transition:all 0.33s ease-in-out;
    margin-bottom: 20px;
}

#btn1{
    background-color:#ffbb00;
    box-shadow:0px 4px 6px rgba(60,60,60,0.17);
}

#btn1:hover{
    box-shadow:none;
    background-color:#f99900
}
p{
    font-family: 'Roboto', sans-serif;
    text-align:  center;
    font-size: 12px;
    color: #000;
    margin: 0;
}
#first{
    font-weight: 100;
    padding: 0px;
    margin: 0px;
}
#second{
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}
.content2{
    background-color: #292c3acc !important;
}
#arrow{
    color: #f7f6cc;
    font-size: 20px;
    font-weight: 100;
    height: 40px;
}
#content2 h1{
    color: #f7f6cc;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}
#txtbox{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 20px;
    font-family: 'Slabo 27px', serif;
    width: 100%;
    padding-top: 20px;
}

.input-field{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px 0px 10px 25px;
    width: 100%;
    font-size:14px;
    box-sizing:  border-box;
}

#border1{
    border-bottom: 1px solid #ffbb00d2 !important;
    color: #c8c9c6;
    margin-bottom: 25px;
}
#border2{
    border-bottom: 1px solid #808080 !important;
    color: #ccc;
}

.input-container{
    position: relative;
}

.icon-container{
    position: absolute;
    top: 6px;
    color: #999;
}

h5{
    margin: 0px 0px 10px 0px;
    padding:  0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #d85f56e1;
}
#btn2{
    background-color: #14171f;
    box-shadow: 0 0 20px rgba(24, 22, 22, 0.49);
    border: none !important;
}

#btn2:hover{
    background-color:rgba(255,255,255,0.1);

}

#content2 p{
    padding: 0px;
    text-align: center;
}

.first{
    font-weight: 200;
    color:#333;
}

.first .link{
    text-decoration: none;
    color:black;
    font-weight:bold;
}

.second{
    color:#ddd !important;
}

.second-link{
    color: #447084 !important;
}
.input-container1{
    position: relative;
    margin: 0px;
    height: 70px;
}
.input-field1{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px 0px 10px 25px;
    width: 100%;
    font-size:14px;
    box-sizing:  border-box;
    border-bottom: 1px solid #ffbb00d2 !important;
    padding:3px 0px 10px 0px;
    color: #ffbb00d2;
}
.content3{
    background-color: #292c3acc !important;
    padding: 39px 40px 60px 40px;
}
.box-head1{
    height: 50px;
}



#arrow1{
    color: #f7f6cc;
    font-size: 20px;
    font-weight: 100;
    height: 40px;
    margin:  0px;
}
#box-body-header{
    display: flex;
    flex-flow: row;
    height: 90px;
    margin-top: 0px;
    margin-bottom: 15px;
}
#box-body-header h1{
    color: #f7f6cc;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size:  36px;
    margin: 0;
}
#p1{
    font-size: 18px;
    font-weight:bold;
    color: #fafafa;
}
#p2{
    font-size: 12px;
    line-height:2px ;
    letter-spacing: 1.7px;
    font-weight: 700;
    color: #fafafa;
}
#box-body-upoload{
    height:45px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row;
}
#logo-circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid white;
    color: #999;
    background-color: transparent;
    margin-right: 25px;
}
.logo1{
    margin: 14px 13px 0px 14px;
}
 h6{
    font-size: 14px;
    color: #999;
    font-weight: 500;
    margin: 10px;
    font-family:  roboto;
}
#txtbox1{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 100;
    padding: 20px 0px;
    font-family: 'Slabo 27px', serif;
    width: 100%;
    height: 120px;
}

#border3{
    margin-bottom: 20px;
}
#border4{
    margin-bottom: 0px;
}

label{
    padding: 0px;
    width: 100%;
    font-size: 13px;
    color: #ddd;
    font-family:  roboto;
}

.box-footer3{
    margin-top: 20px;
}