html{
    height: 100%;
}
body{
    background-image: url("../images/c2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 
#box{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #fafafa;
    flex-flow: column;
    }

#logo {
    background-color: #ff0000;
    color: #fafafa;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: -45px;
    position: relative;
 }
 #content{
    height: 450px;
    width: 350px;
    background-color: #020003;
}
#content1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 40px;
    margin-bottom: 0px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #fdfefb;
    margin-top: 25px;
    margin-bottom: 20px;
}
#content2{
    display: flex;
    flex-flow: column;
    justify-content: left;
    margin-bottom:  20px;
    padding-left: 20px;
    padding-right: 20px;
}
.lbl{
    margin: 0px;
    padding: 10px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.txtbox{
    margin: 5px;
    box-sizing: border-box;
    padding: 0px 5px 10px 0px;
    font-size: 16px;
    color: #808080;
    }
input{
    border: 0px;
    background-color: #020003;
    border-bottom:2px solid #808080;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;

}
input:focus{
    outline: none;
    background-color:#020003;
    color: #fafafa;
    border-bottom:2px solid #808080;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
   
}
#content3{
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.button{
    height: 35px;
    width: 305px;
    border-radius:  50px;
    margin-bottom: 20px;
    /* outline:  none; */
    border: 1px solid #ff0000;
    background-color:  #ff0000;
    color:  #fafafa;
    font-size:  20px;
    padding-top:  5px;
    padding-bottom:  5px;
    font-family: 'Questrial', serif;
    font-weight: 500;
    
}
#content3 p{
    font-family: 'Questrial', serif;
    font-size: 13px;
    font-weight: 200;
    margin: 5px;padding: 0px;
    color: #808080;
}